@charset "UTF-8";
/* CSS */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

.menu-toggle {
    display: none;
}

.menu-items {
    list-style: none;
    display: flex;
}

.menu-items li {
    margin-right: 20px;
}

.top-section {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 100px 20px;
}

.top-section .bg-container {
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}
